@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animation {
  background: linear-gradient(270deg, #ff0080, #ff8c00, #40e0d0, #ff0080);
  background-size: 600% 600%;
  animation: gradient-move 8s ease infinite;
}
